body {
    display: grid;
    grid-template-areas:
        "cima"
        "meio"
        "rodape";
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
}

header {
    grid-area: cima;
    border: rgb(255, 255, 255) 2px solid;
    background-color: rgb(241, 238, 255);
    background:linear-gradient();
}

main {
    grid-area: meio;
    border: rgb(255, 255, 255) 2px solid;
    background-color:rgb(241, 238, 255);
}


footer {
    grid-area: rodape;
    border: rgb(255, 255, 255) 2px solid;
    background-color:rgb(241, 238, 255);
}
 
@media only screen and (max-width: 820px) { /*para mudar o tamanho respunsividade*/
    body{
        grid-template-areas: 
        "cima"
        "meio"
        "rodape";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }   

}

.card { 
    border-radius: 5px;
    box-shadow: 7px 7px 13px 10px rgba(50, 50, 50, 0.22);
    padding: 3px;
    margin: 60px;
    
    transition: all 0.3s ease-out;
    border-color: rgb(0, 0, 0);
  }

h2{
    border: rgb(0, 0, 0) 2px solid;
    width: 189px;

  }

.verde{ /* para saber quando estiver certo*/ 
    color: green;
}
.vermelho{ /* para saber quando estiver errado */
    color: red;
}

.coruja1{ /* imagem no header*/
    width: 150px;
    text-align: center;

}

.coruja2{ /* imagem no header*/
    width: 150px;
   height: 160px;
   align-items: center;

}
#header_exercicio{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}



